<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/49163/IdeaProjects/mytestngproject/src/test/java/myapp/tests/paralleltesting">
        <classes>
            <class name="myapp.tests.paralleltesting.Day23_CustomerLogin">
                <methods><include name="customerLogin"/></methods>
            </class><class name="myapp.tests.paralleltesting.Day23_SearchItem"><methods>
            <include name="googleSearch"/><include name="ebaySearch"/><include name="amazonSearch"/>
        </methods></class><class name="myapp.tests.paralleltesting.day23_WebTables"><methods>
            <include name="printTable"/><include name="printAllRows"/></methods></class></classes>
    </test></suite>